* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Font scale heading */
  --heading-h1: 3.052rem;
  --heading-h2: 2.4rem;
  --heading-h3: 1.9rem;
  --heading-h4: 1.2rem;
  --heading-h5: 0.8rem;

  /* Font scale body text */
  --body-text: 1rem;

  /* Spacing */
  --spacing-10: 0.625rem;
  --spacing-15: 0.9375rem;
  --spacing-20: 1.25rem;
  --spacing-30: 1.875rem;
  --spacing-40: 2.5rem;
  --spacing-80: 5rem;

  --black-400: #151515;
  --black-300: #37393d;
  --black-200: #7b7c7e;
  --black-100: #a1a6a9;
  --green-400: #7b886b;
  --green-300: #99aa85;
  --green-200: #b2c59b;
  --green-100: #cbdeb3;
  --red-400: #d77a61;
  --red-300: #ef9c85;
  --red-200: #f5c0b2;
  --red-100: #ffe0d8;
  --red-100: #ffe0d8;
  --grey-200: #fafafa;
  --creme-100: #fff9f1;

  --primary-card-bg: var(--grey-200);
  --secondary-card-bg: var(--creme-100);
}

body {
  font-family: "Poppins";
  font-weight: 400;
  font-size: var(--body-text);
}

h1 {
  font-family: "Poppins";
  font-weight: 900;
  font-size: var(--heading-h1);
}
h2 {
  font-family: "Poppins";
  font-weight: 800;
  font-size: var(--heading-h2);
}
h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: var(--heading-h3);
}
h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: var(--heading-h4);
}
h5 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: var(--heading-h5);
  margin-bottom: var(--spacing-15);
}

article {
  max-width: 120ch;
  margin: 5rem auto;
  margin-bottom: var(--spacing-30);
}

/* poppins-100 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/poppins-v20-latin-100.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v20-latin-100.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-100.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v20-latin-100.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v20-latin-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v20-latin-100.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-200 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/poppins-v20-latin-200.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v20-latin-200.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-200.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v20-latin-200.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v20-latin-200.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v20-latin-200.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v20-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v20-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v20-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v20-latin-300.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/poppins-v20-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v20-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v20-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v20-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v20-latin-500.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v20-latin-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v20-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v20-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v20-latin-600.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v20-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v20-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v20-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v20-latin-700.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v20-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v20-latin-800.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v20-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v20-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v20-latin-800.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-900 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v20-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v20-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v20-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v20-latin-900.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
