---
import Card from "../components/Card.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <Card
      titel="Jaguar XJ12 serie III"
      showroom="DK, Herlev"
      beskrivelse="Jaguar XJ12 serie III, Sovereign. Årg. 1990 Blålakeret. 5,3 l. motor. Km. stand 230.640. Automatgear.  Læs mere"
      variant="primary"
      bud="DKK 15.000"
      udløbstid=" 10 dage 1 minut 36 sekunder"
      varenr="6301697"
    />
  </body>
</html>
